<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Sketch</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>CircularStd-Black.ttf</string>
		<string>CircularStd-Black.woff</string>
		<string>CircularStd-Black.woff2</string>
		<string>CircularStd-BlackItalic.ttf</string>
		<string>CircularStd-BlackItalic.woff</string>
		<string>CircularStd-BlackItalic.woff2</string>
		<string>CircularStd-Bold.ttf</string>
		<string>CircularStd-Bold.woff</string>
		<string>CircularStd-Bold.woff2</string>
		<string>CircularStd-BoldItalic.ttf</string>
		<string>CircularStd-BoldItalic.woff</string>
		<string>CircularStd-BoldItalic.woff2</string>
		<string>CircularStd-Book.ttf</string>
		<string>CircularStd-Book.woff</string>
		<string>CircularStd-Book.woff2</string>
		<string>CircularStd-BookItalic.ttf</string>
		<string>CircularStd-BookItalic.woff</string>
		<string>CircularStd-BookItalic.woff2</string>
		<string>CircularStd-Medium.ttf</string>
		<string>CircularStd-Medium.woff</string>
		<string>CircularStd-Medium.woff2</string>
		<string>CircularStd-MediumItalic.ttf</string>
		<string>CircularStd-MediumItalic.woff</string>
		<string>CircularStd-MediumItalic.woff2</string>
		<string>ProximaNova-Black.ttf</string>
		<string>ProximaNova-Black.woff</string>
		<string>ProximaNova-Black.woff2</string>
		<string>ProximaNova-BlackIt.ttf</string>
		<string>ProximaNova-BlackIt.woff</string>
		<string>ProximaNova-BlackIt.woff2</string>
		<string>ProximaNova-Bold.ttf</string>
		<string>ProximaNova-Bold.woff</string>
		<string>ProximaNova-Bold.woff2</string>
		<string>ProximaNova-BoldIt.ttf</string>
		<string>ProximaNova-BoldIt.woff</string>
		<string>ProximaNova-BoldIt.woff2</string>
		<string>ProximaNova-Extrabld.ttf</string>
		<string>ProximaNova-Extrabld.woff</string>
		<string>ProximaNova-Extrabld.woff2</string>
		<string>ProximaNova-ExtrabldIt.ttf</string>
		<string>ProximaNova-ExtrabldIt.woff</string>
		<string>ProximaNova-ExtrabldIt.woff2</string>
		<string>ProximaNova-Light.ttf</string>
		<string>ProximaNova-Light.woff</string>
		<string>ProximaNova-Light.woff2</string>
		<string>ProximaNova-LightIt.ttf</string>
		<string>ProximaNova-LightIt.woff</string>
		<string>ProximaNova-LightIt.woff2</string>
		<string>ProximaNova-Regular.ttf</string>
		<string>ProximaNova-Regular.woff</string>
		<string>ProximaNova-Regular.woff2</string>
		<string>ProximaNova-RegularIt.ttf</string>
		<string>ProximaNova-RegularIt.woff</string>
		<string>ProximaNova-RegularIt.woff2</string>
		<string>ProximaNova-Semibold.ttf</string>
		<string>ProximaNova-Semibold.woff</string>
		<string>ProximaNova-Semibold.woff2</string>
		<string>ProximaNova-SemiboldIt.ttf</string>
		<string>ProximaNova-SemiboldIt.woff</string>
		<string>ProximaNova-SemiboldIt.woff2</string>
		<string>ProximaNova-ThinIt.ttf</string>
		<string>ProximaNova-ThinIt.woff</string>
		<string>ProximaNova-ThinIt.woff2</string>
		<string>ProximaNovaT-Thin.ttf</string>
		<string>ProximaNovaT-Thin.woff</string>
		<string>ProximaNovaT-Thin.woff2</string>
	</array>
</dict>
</plist>
